<a href="https://colab.research.google.com/github/mary1759/newGitTest/blob/master/Copy_of_DeepNeuralNet_BankData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:


# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [0]:
from google.colab import files

df = files.upload()

for fn in df.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(df[fn])))

Saving Churn_Modelling.csv to Churn_Modelling (3).csv
User uploaded file "Churn_Modelling.csv" with length 684858 bytes

In [0]:
import io
dataset = pd.read_csv(io.StringIO(df['Churn_Modelling.csv'].decode('utf-8')))

In [0]:
X = dataset.iloc[:, 3:13]
y = dataset.iloc[:, 13]

In [0]:


# Select the categorical columns
categorical_subset = X[['Geography', 'Gender']]

# One hot encode
categorical_subset = pd.get_dummies(categorical_subset)

# Join the two dataframes using concat
# Make sure to use axis = 1 to perform a column bind
features = pd.concat([X, categorical_subset], axis = 1)

print(features.describe())

#X = pd.concat([features,pd.get_dummies(features['Geography'], prefix='Geography')],axis=1)

#X = pd.concat([features,pd.get_dummies(features['Gender'], prefix='Gender')],axis=1)#

        CreditScore           Age  ...  Gender_Female   Gender_Male
count  10000.000000  10000.000000  ...   10000.000000  10000.000000
mean     650.528800     38.921800  ...       0.454300      0.545700
std       96.653299     10.487806  ...       0.497932      0.497932
min      350.000000     18.000000  ...       0.000000      0.000000
25%      584.000000     32.000000  ...       0.000000      0.000000
50%      652.000000     37.000000  ...       0.000000      1.000000
75%      718.000000     44.000000  ...       1.000000      1.000000
max      850.000000     92.000000  ...       1.000000      1.000000

[8 rows x 13 columns]

In [0]:
X = features.drop(['Gender', 'Geography'], axis = 1)


X_up = X.drop(['Geography_France'], axis = 1)


X_up.head()

   CreditScore  Age  Tenure  ...  Geography_Spain  Gender_Female  Gender_Male
0          619   42       2  ...                0              1            0
1          608   41       1  ...                1              1            0
2          502   42       8  ...                0              1            0
3          699   39       1  ...                0              1            0
4          850   43       2  ...                1              1            0

[5 rows x 12 columns]

In [0]:
from sklearn import preprocessing

standard_scaler = preprocessing.MinMaxScaler()
X_stan = standard_scaler.fit_transform(X_up)

#X_stan

In [0]:
from sklearn import model_selection
X_train, X_test, y_train, y_test = model_selection.train_test_split(X_stan, y, test_size = 0.25, random_state=33)

n_features = X_train.shape[1]


from keras.models import Sequential

model = Sequential()

from keras.layers import Dense
from keras.callbacks import EarlyStopping

model.add(Dense(activation="relu", input_dim = 12, units=6, kernel_initializer="uniform"))

model.add(Dense(activation="relu", units=6, kernel_initializer="uniform"))

model.add(Dense(activation="sigmoid", units=1, kernel_initializer="uniform"))


model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])


model.fit(X_train, y_train, batch_size = 10, epochs = 100, validation_split=0.2, callbacks=[EarlyStopping(monitor='val_loss', patience=4)])


# Part 3 - Making the predictions and evaluating the model

# Predicting the Test set results
y_pred = model.predict(X_test)
y_pred = (y_pred > 0.5)

# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

W0720 16:54:37.729057 140097165756288 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

Train on 6000 samples, validate on 1500 samples
Epoch 1/100
6000/6000 [==============================] - 2s 274us/step - loss: 0.5331 - acc: 0.7948 - val_loss: 0.5085 - val_acc: 0.7787
Epoch 2/100
6000/6000 [==============================] - 1s 134us/step - loss: 0.4778 - acc: 0.7960 - val_loss: 0.4897 - val_acc: 0.7787
Epoch 3/100
6000/6000 [==============================] - 1s 134us/step - loss: 0.4640 - acc: 0.7960 - val_loss: 0.4761 - val_acc: 0.7787
Epoch 4/100
6000/6000 [==============================] - 1s 129us/step - loss: 0.4557 - acc: 0.7960 - val_loss: 0.4681 - val_acc: 0.7787
Epoch 5/100
6000/6000 [==============================] - 1s 130us/step - loss: 0.4493 - acc: 0.7960 - val_loss: 0.4616 - val_acc: 0.7787
Epoch 6/100
6000/6000 [==============================] - 1s 131us/step - loss: 0.4432 - acc: 0.7960 - val_loss: 0.4556 - val_acc: 0.7787
Epoch 7/100
6000/6000 [==============================] - 1s 132us/step - loss: 0.4384 - acc: 0.7960 - val_loss: 0.4513 - val_acc: 0.7787
Epoch 8/100
6000/6000 [==============================] - 1s 131us/step - loss: 0.4335 - acc: 0.8115 - val_loss: 0.4470 - val_acc: 0.8007
Epoch 9/100
6000/6000 [==============================] - 1s 134us/step - loss: 0.4294 - acc: 0.8160 - val_loss: 0.4441 - val_acc: 0.8053
Epoch 10/100
6000/6000 [==============================] - 1s 136us/step - loss: 0.4259 - acc: 0.8188 - val_loss: 0.4414 - val_acc: 0.8073
Epoch 11/100
6000/6000 [==============================] - 1s 134us/step - loss: 0.4237 - acc: 0.8193 - val_loss: 0.4383 - val_acc: 0.8127
Epoch 12/100
6000/6000 [==============================] - 1s 136us/step - loss: 0.4218 - acc: 0.8220 - val_loss: 0.4372 - val_acc: 0.8147
Epoch 13/100
6000/6000 [==============================] - 1s 134us/step - loss: 0.4201 - acc: 0.8213 - val_loss: 0.4369 - val_acc: 0.8167
Epoch 14/100
6000/6000 [==============================] - 1s 135us/step - loss: 0.4192 - acc: 0.8193 - val_loss: 0.4368 - val_acc: 0.8167
Epoch 15/100
6000/6000 [==============================] - 1s 135us/step - loss: 0.4177 - acc: 0.8240 - val_loss: 0.4375 - val_acc: 0.8153
Epoch 16/100
6000/6000 [==============================] - 1s 133us/step - loss: 0.4177 - acc: 0.8248 - val_loss: 0.4358 - val_acc: 0.8187
Epoch 17/100
6000/6000 [==============================] - 1s 135us/step - loss: 0.4163 - acc: 0.8248 - val_loss: 0.4333 - val_acc: 0.8187
Epoch 18/100
6000/6000 [==============================] - 1s 135us/step - loss: 0.4148 - acc: 0.8260 - val_loss: 0.4331 - val_acc: 0.8187
Epoch 19/100
6000/6000 [==============================] - 1s 133us/step - loss: 0.4147 - acc: 0.8273 - val_loss: 0.4324 - val_acc: 0.8193
Epoch 20/100
6000/6000 [==============================] - 1s 134us/step - loss: 0.4142 - acc: 0.8288 - val_loss: 0.4349 - val_acc: 0.8173
Epoch 21/100
6000/6000 [==============================] - 1s 133us/step - loss: 0.4129 - acc: 0.8282 - val_loss: 0.4340 - val_acc: 0.8220
Epoch 22/100
6000/6000 [==============================] - 1s 136us/step - loss: 0.4121 - acc: 0.8282 - val_loss: 0.4318 - val_acc: 0.8220
Epoch 23/100
6000/6000 [==============================] - 1s 138us/step - loss: 0.4119 - acc: 0.8323 - val_loss: 0.4307 - val_acc: 0.8187
Epoch 24/100
6000/6000 [==============================] - 1s 134us/step - loss: 0.4112 - acc: 0.8332 - val_loss: 0.4295 - val_acc: 0.8173
Epoch 25/100
6000/6000 [==============================] - 1s 134us/step - loss: 0.4106 - acc: 0.8298 - val_loss: 0.4298 - val_acc: 0.8220
Epoch 26/100
6000/6000 [==============================] - 1s 133us/step - loss: 0.4102 - acc: 0.8320 - val_loss: 0.4288 - val_acc: 0.8180
Epoch 27/100
6000/6000 [==============================] - 1s 134us/step - loss: 0.4095 - acc: 0.8310 - val_loss: 0.4315 - val_acc: 0.8180
Epoch 28/100
6000/6000 [==============================] - 1s 134us/step - loss: 0.4094 - acc: 0.8335 - val_loss: 0.4287 - val_acc: 0.8187
Epoch 29/100
6000/6000 [==============================] - 1s 134us/step - loss: 0.4090 - acc: 0.8322 - val_loss: 0.4285 - val_acc: 0.8187
Epoch 30/100
6000/6000 [==============================] - 1s 134us/step - loss: 0.4079 - acc: 0.8325 - val_loss: 0.4274 - val_acc: 0.8207
Epoch 31/100
6000/6000 [==============================] - 1s 133us/step - loss: 0.4088 - acc: 0.8317 - val_loss: 0.4370 - val_acc: 0.8180
Epoch 32/100
6000/6000 [==============================] - 1s 132us/step - loss: 0.4075 - acc: 0.8343 - val_loss: 0.4285 - val_acc: 0.8213
Epoch 33/100
6000/6000 [==============================] - 1s 132us/step - loss: 0.4071 - acc: 0.8340 - val_loss: 0.4291 - val_acc: 0.8193
Epoch 34/100
6000/6000 [==============================] - 1s 130us/step - loss: 0.4072 - acc: 0.8335 - val_loss: 0.4294 - val_acc: 0.8213

In [0]:
cm

array([[1981,   38],
       [ 360,  121]])